.card-desc.col-sm-12
    // Навигация
    .card-desc__selects.js-desc__selects
        .select-item.js-select-item
            input(type="radio", name="card-desc", id="about-item" checked)
            label.select-item__text(for="about-item")|О товаре
        .select-item.js-select-item
            input(type="radio", name="card-desc", id="recipes-item" )
            label.select-item__text(for="recipes-item")|Рецепты
        .select-item.js-select-item
            input(type="radio", name="card-desc", id="reviews-item" )
            label.select-item__text(for="reviews-item")|Отзывы
    // ----end---- Навигация

    // О товаре
    .card-desc__about.js-desc__item(data-id="about-item")
        .about-item
            .about-item__desc
                h3|Произведено из отборных семян конопли

                p|  Методом холодного отжима, обладает теплым жёлтым цветом,
                    |изысканным ореховым вкусом и нежным приятным ароматом.
                    |Благодаря методу холодного отжима конопляное масло – один
                    |из ценнейших продуктов по балансу витаминов и аминокислот.
                    |Является дополнительным источником жиров для людей, которые
                    |не употребляют в пищу мясо.

                p.desc-down
                    span
                        img(src="/assets/img/card-desc/license.svg", alt="")
                        |Лицензия товара
                    ||
                    span
                    |1,2 Мб
                    a(href="#", target="_blank")
                        span
                            img(src="/assets/img/card-desc/arrow_down.svg", alt="")
                            |Скачать

            .about-item__img
                img(src="/assets/img/card-desc/seeds.png", alt="")

        .about-item
            .about-item__youtube(style="background-image: url(http://i.ytimg.com/vi/akkvAehH3Vg/hqdefault.jpg)")
                .video-title
                    a.video-play.js-video-play(href="http://www.youtube.com/watch?v=akkvAehH3Vg", style="background-image: url(/assets/img/card-desc/video-play.svg)")
                    p|с пользой о здоровье

            .about-item__behoof
                ul(style="list-style-image: url(/assets/img/card-desc/marker-circle.svg);")
                    li|Улучшает обмен веществ и способствует усилению иммунных свойств организма.
                    li|Фитостеролы и фолиевая кислота - обеспечивают в норме период вынашивания ребенка у беременных.
                    li|Антиоксиданты - предотвращают преждевременное увядание кожи и разглаживают морщины.
                    li|Хлорофилл - способствует борьбе организма с онкологическими заболеваниями.
                    li|Аминокислоты - восстанавливают работу печени и укрепляют центральную нервную систему.
    // ----end---- О товаре

    // Рецепты
    -
        let recipes = [
            {
                url:'/assets/img/card-desc/recipes/potatoes.jpg',
                title:'КЛЁЦКИ КАРТОФЕЛЬНЫЕ',
                time:'40',
                ingridients:'Картофельное пюре, полстакана ржаной муки или пшеничной муки, конопляное масло, яйца, луковица, соль,тмин.',
            },
            {
                url:'/assets/img/card-desc/recipes/avocado-salad.jpg',
                title:'САЛАТ С АВОКАДО И МАКАРОНАМИ',
                time:'20',
                ingridients:'макароны, чеснок, перец чили, красный лук, горчица, масло конопляное, масло льняное, уксус, лайм, авокадо, базилик, морская соль, черный перец.',
            },
            {
                url:'/assets/img/card-desc/recipes/cranberry-smoothie.jpg',
                title:'СМУЗИ С КЛЮКВОЙ И ЧЕРНИКОЙ',
                time:'15',
                ingridients:'черника или ежевика, клюквенный сок, конопляное масло.',
            },
        ]

    .card-desc__recipes.js-desc__item(data-id="recipes-item")
        .recipes__wrapper
            each item in recipes
                a.recipes-item(href="#")
                    .item-img(style=`background-image: url(${item.url})`)
                    .info-block
                        .item-prop
                            .div
                                img(src="/assets/img/card-desc/recipes/cutlery.svg", alt="")
                                |6 порций
                            span||
                            .div
                                img(src="/assets/img/card-desc/recipes/time.svg", alt="")
                                |!{item.time} минут
                        .item-title|!{item.title}
                        .item-text
                            span|Ингредиенты:
                            |  !{item.ingridients}
        .btn__wrapper
            .product-card__btn|Все рецепты
    // ----end---- Рецепты

    // Отзывы
    .card-desc__reviews.js-desc__item(data-id="reviews-item")
        .reviews-head
            .reviews-head__title
                h3|Отзывы и рекомендации

                //- отрисовка звёзд на JS в product-card.js
                //
                    звезды отрисовываются на JS, поэтому ==>
                    в атрибутах .star-rating задается с бэка:
                    - rating - число не больше пяти, дробное можно
                    - src-starfull - путь к картинке звезды с фоном
                    - src-starempty - путь к картинке пустой звезды
                //
                .star-rating.js-star-rating(
                        data-rating="4.5",
                        src-starfull="/assets/img/card-desc/star_yellow.svg",
                        src-starempty="/assets/img/card-desc/star_grey.svg")|

                    span|4.5
                .num-rews
                    img(src="/assets/img/card-desc/user.svg", alt="")
                    span|24
            .product-card__btn|Написать отзыв

        -
            let rews = [
                {
                    name: 'Роман',
                    date: '20 Декабря 2019',
                    rating: '4',
                    text: 'Методом холодного отжима, обладает теплым жёлтым цветом, изысканным ореховым вкусом и нежным приятным ароматом. Благодаря методу холодного отжима конопляное масло – один из ценнейших продуктов по балансу витаминов и аминокислот. Является дополнительным источником жиров для людей, которые не употребляют в пищу мясо.',
                },
                {
                    name: 'Мария',
                    date: '1 января 2019',
                    rating: '3',
                    text: 'Методом холодного отжима, обладает теплым жёлтым цветом, изысканным ореховым вкусом и нежным приятным ароматом. Благодаря методу холодного отжима конопляное масло – один из ценнейших продуктов по балансу витаминов и аминокислот. Является дополнительным источником жиров для людей, которые не употребляют в пищу мясо.',
                },
                {
                    name: 'Станислав',
                    date: '29 декабря 2018',
                    rating: '5',
                    text: 'Круто!Является дополнительным источником жиров для людей, которые не употребляют в пищу мясо.',
                },
                {
                    name: 'Павел',
                    date: '15 июля 2018',
                    rating: '2',
                    text: 'Личная непереносимость данного продукта',
                },
            ]

        .reviews-wrapper
            each rew in rews
                .rew-item
                    .item__rating
                        //- отрисовка звёзд на JS в product-card.js
                        //
                            звезды отрисовываются на JS, поэтому ==>
                            в атрибутах .star-rating задается с бэка:
                            - rating - число не больше пяти, дробное можно
                            - src-starfull - путь к картинке звезды с фоном
                            - src-starempty - путь к картинке пустой звезды
                        //
                        .star-rating.js-star-rating(
                            data-rating=rew.rating,
                            src-starfull="/assets/img/card-desc/star_yellow.svg",
                            src-starempty="/assets/img/card-desc/star_grey.svg")

                        .rew-date|!{rew.date}
                    .item__text
                        p.user-name|!{rew.name}
                        p.user-text|!{rew.text}
                    a(href="#").read-more|Читать полностью
    // ----end---- Отзывы





